.cometSearchResults * {
  @apply text-bodyMd text-default;
}

.cometSearchResults {
  @apply space-y-4;
}
.cometSearchResults h1 {
  @apply text-heading2Xl font-semibold leading-heading2Xl;
}

.cometSearchResults ul {
  @apply list-inside list-disc space-y-2 marker:text-disabled !important;
}

.cometSearchResults li > p:first-of-type {
  @apply inline !important;
}

li {
  @apply space-y-4;
}

.cometSearchResults ol {
  @apply list-inside list-decimal space-y-2  marker:text-disabled !important;
}

.cometSearchResults h2 {
  @apply text-headingXl font-semibold leading-headingXl;
}

.cometSearchResults h3 {
  @apply text-headingLg font-semibold leading-headingLg;
}

.cometSearchResults p {
  @apply text-bodyMd leading-bodyMd text-default;
}

/* prism code styles */

.cometSearchResults pre div {
  @apply rounded border bg-subdued p-2 text-bodySm leading-bodySm !important;
}

.cometSearchResults pre code {
  @apply block w-full overflow-x-scroll rounded bg-subdued p-2 text-bodyMd scrollbar-thin !important;
}

.cometSearchResults code[class*="language-"],
.cometSearchResults pre[class*="language-"] {
  @apply text-left font-mono text-bodySm leading-bodySm !important;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.cometSearchResults :not(pre) > code {
  @apply rounded bg-subdued p-0.5 px-2 text-bodyMd  !important;
}
.cometSearchResults .token.cdata,
.cometSearchResults .token.comment,
.cometSearchResults .token.doctype,
.cometSearchResults .token.prolog {
  color: #f2c992;
}
.cometSearchResults .token.punctuation {
  color: #f2c992;
}
.cometSearchResults .token.namespace {
  opacity: 0.7;
}
.cometSearchResults .token.constant,
.cometSearchResults .token.deleted,
.cometSearchResults .token.property,
.cometSearchResults .token.symbol,
.cometSearchResults .token.tag {
  color: white;
}
.cometSearchResults .token.boolean,
.cometSearchResults .token.number {
  color: #ae81ff;
}
.cometSearchResults .token.attr-name,
.cometSearchResults .token.builtin,
.cometSearchResults .token.char,
.cometSearchResults .token.inserted,
.cometSearchResults .token.selector,
.cometSearchResults .token.string {
  color: #8ccdc0;
}
.cometSearchResults .language-css .token.string,
.cometSearchResults .style .token.string,
.cometSearchResults .token.entity,
.cometSearchResults .token.operator,
.cometSearchResults .token.url,
.cometSearchResults .token.variable {
  color: #bc92e0;
}
.cometSearchResults .token.atrule,
.cometSearchResults .token.attr-value,
.cometSearchResults .token.class-name,
.cometSearchResults .token.function {
  color: #bc92e0;
}
.cometSearchResults .token.keyword {
  color: #66d9ef;
}
.cometSearchResults .token.important,
.cometSearchResults .token.regex {
  color: #fd971f;
}
.cometSearchResults .token.bold,
.cometSearchResults .token.important {
  font-weight: 700;
}
.cometSearchResults .token.italic {
  font-style: italic;
}
.cometSearchResults .token.entity {
  cursor: help;
}
